{% extends "link/index.html" %}

{% block content %}
<div class="page-wrapper">

    <div class="hero-container"> 

        <div class="big-card">

            <div class="card-details">
                <p class="card-titletext"> Shorten Links. Share Smarter. </p>
                <p class="card-bodytext">  tinyme turns long, messy URLs into clean, shareable links in seconds — fast, simple, and reliable.</p>
                    
                    <div class="link-showcase">
                        <div class="long-link">
                            https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstleyOfficial
                        </div>
                        <div class="arrow">→</div>
                        <div class="short-link">
                            <span class="domain">tinyme.site/</span><span class="slug">never</span>
                        </div>
                    </div>

                <button class="card-button"> Start shortening Links</button>
            </div> 
        </div>
    </div>



    <footer class="landing-footer">
        <div class="footer-content">

            <div class="footer-brand">
                <h3>TinyMe</h3>
                <p>Shorten links. Share smarter.</p>
            </div>

            <div class="footer-links">
                <a href="#">Contact</a>
                <a href="#">GitHub</a>
                <a href="#">Privacy</a>
            </div>

        </div>

        <div class="footer-bottom">
            <p>© 2026 TinyMe • Built by <span>Dyss</span></p>
        </div>
    </footer>
</div>


{% endblock %}